<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.adotcode.scaffold.domain.mapper.user.UserMapper">
  <select id="findUserEmailById" parameterType="long" resultType="String">
    SELECT EmailAddress
    FROM abpusers
    WHERE Id = #{id}
  </select>
</mapper>